@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-1: var(--mantine-color-gray-0);
    --bg-2: var(--mantine-color-gray-2);
  }

  [data-mantine-color-scheme="dark"] {
    --bg-1: var(--mantine-color-dark-8);
    --bg-2: var(--mantine-color-dark-7);
  }
}

@layer base {
  body, html {
    @apply w-full h-screen;
  }

  body {
    @apply flex flex-col;
  }

  main {
    @apply grow;
  }
}
